<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a826488.arbaycampusinteresapp">


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- "AR Required" apps must declare minSdkVersion ≥ 24 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
         Indicates that app requires ARCore ("AR Required"). Ensures app is only
         visible in the Google Play Store on devices that support ARCore.
    -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="AR Bay Campus Interest App"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HowTo"
            android:label="HowTo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArActivity"
            android:label="AR View"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ContactActivity"
            android:label="Contact"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AugmentedImageActivity"
            android:label="AR View"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArDirectionsActivity"
            android:label="AR Directions"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!--
             Indicates that app requires ARCore ("AR Required"). Causes Google
             Play Store to download and install ARCore when the app is installed.
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

    </application>

</manifest>